services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: etl_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dwh_db
    ports:
      - "3307:3306"

  app:
    build: .
    depends_on:
      - postgres
      - mysql
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: etl_db
      DB_USER: user
      DB_PASSWORD: password
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_DB: dwh_db
      MYSQL_USER: root
      MYSQL_PASSWORD: password
    volumes:
      - ./data-pipeline:/app/data-pipeline
      - ./sql:/app/sql
      - ./tests:/app/tests

volumes:
  postgres_data: